---
# tasks file for keycloak
# - name: Install Java
#   yum:
#     name: java-11-openjdk
#     state: present
- name: Create keycloak group
  group:
    name: keycloak
    state: present

- name: Create keycloak user
  user:
    name: keycloak
    group: keycloak
    state: present

- name: Create required directories
  file:
    path: '{{ item }}'
    state: directory
    owner: keycloak
    group: keycloak
    mode: '0755'
  with_items:
    - '/server/keycloak'
    # - '/server/nodexporter/tmp'
    # - '/server/nodexporter/tmp/nodexporter'

- name: Download and extract Keycloak
  get_url:
    # url: "https://github.com/keycloak/keycloak/releases/download/22.0.5/keycloak-22.0.5.tar.gz"
    url: "https://downloads.jboss.org/keycloak/{{ keycloak_version }}/keycloak-{{ keycloak_version }}.tar.gz"
    dest: "/server/keycloak"
    mode: 0755
  # become: yes

# - name: Create Keycloak user
#   user:
#     name: keycloak
#     home: "/server/keycloak"
#     shell: "/bin/bash"
#     createhome: yes
#   # become: yes

- name: Set ownership for Keycloak directory
  file:
    path: "/server/keycloak"
    state: directory
    owner: keycloak
    group: keycloak
    mode: '0755'
  # become: yes

- name: Extract Keycloak
  ansible.builtin.unarchive:
    src: "/server/keycloak/keycloak-{{ keycloak_version }}.tar.gz"
    dest: "/server/keycloak"
    remote_src: yes

- name: Create systemd service configuration
  template:
    src: keycloak.service.j2
    dest: "/etc/systemd/system/keycloak.service"
  # become: yes

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Start and enable Keycloak service
  systemd:
    name: keycloak
    state: started
    enabled: yes
  # become: yes
