---
- name: Create keycloak group
  group:
    name: keycloak
    state: present

- name: Create keycloak user
  user:
    name: keycloak
    group: keycloak
    state: present

- name: Create required directories
  file:
    path: '{{ item }}'
    state: directory
    owner: keycloak
    group: keycloak
    mode: '0777'
  with_items:
    - '/server/keycloak'
    - '/server/keycloak/keycloak-12.0.4/standalone/data'
    - '/server/keycloak/keycloak-12.0.4/standalone/log'
    # - '/server/keycloak/keycloak-12.0.4/standalone/configuration/logging.properties'

- name: Download and extract Keycloak
  get_url:
    url: "https://github.com/keycloak/keycloak/releases/download/{{ keycloak_version }}/keycloak-{{ keycloak_version }}.tar.gz"
    dest: "/server/keycloak"
    mode: 0775


- name: Extract Keycloak
  ansible.builtin.unarchive:
    src: "/server/keycloak/keycloak-{{ keycloak_version }}.tar.gz"
    dest: "/server/keycloak"
    remote_src: yes

# - name: Set ownership for Keycloak directory
#   file:
#     path: "/server/keycloak"
#     state: directory
#     owner: keycloak
#     group: keycloak
#     mode: '0775'


- name: Create systemd service configuration
  template:
    src: keycloak.service.j2
    dest: "/etc/systemd/system/keycloak.service"

- name: Set ownership, group, and mode for Keycloak directory
  ansible.builtin.file:
    path: "/server/keycloak"
    path: "/etc/systemd/system/keycloak.service"
    owner: keycloak  # Replace 'keycloak' with your desired username
    group: keycloak  # Replace 'keycloak' with your desired group
    recurse: yes
    mode: "0775"
  become: yes

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Start and enable Keycloak service
  systemd:
    name: keycloak
    state: started
    enabled: yes
 
