
[Unit]
Description=Keycloak
After=syslog.target network.target

[Service]
User={{ keycloak_user }}
ExecStart=/server/keycloak/keycloak-{{ keycloak_version }}/bin/standalone.sh -b 0.0.0.0 -Djboss.http.port=8080

[Install]
WantedBy=multi-user.target