[Unit]
Description=Keycloak
After=network.target

[Service]
User=keycloak
ExecStart=/server/keycloak/keycloak-22.0.5/bin/kcadm.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=keycloak
TimeoutStartSec=300

[Install]
WantedBy=default.target